* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
html, body {
    height: 100%;
   width: 100%;
}
body{
    background: #001b1e;
    main{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        #cursor{
            height: 30px;
            width: 30px;
            border-radius: 50%;
            background: rgb(216, 246, 245);
            position: absolute;
            z-index: 100;
            mix-blend-mode: difference;
        }
        h1{
            font-size: 20vw;
            color: aliceblue;
        }
    }
}