* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background: #acd4ff;
  padding: 8px;
}

main {
  width: 100%;
  background: white;
  position: relative;
  padding: 5.5vw;
  border-radius: 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main nav {
  align-self: flex-start;
  width: fit-content;
  font-size: 19px;
  position: relative;
  background: rgba(188, 247, 255, 0.7098039216);
  padding: 12px;
  border-radius: 12px;
}
main nav #menue {
  height: fit-content;
  position: absolute;
  z-index: 100;
  background: rgb(65, 172, 225);
  padding: 12px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  display: none;
}
main nav #menue i {
  border: 2px solid;
  margin: 2px;
  padding: 8px 12px;
  border-radius: 23px;
  color: #e0efff;
  letter-spacing: 2.75px;
  transition: all ease-in-out 0.3s;
}
main nav #menue a i:active {
  scale: 0.85;
  color: rgb(13, 2, 53);
}
main #team-details {
  margin-top: 2.1vw;
  height: 100%;
  width: 80%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.5vw;
}
main #team-details #logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
  border: 1px solid royalblue;
  padding: 5px;
  background: rgba(203, 209, 254, 0.4509803922);
  border-radius: 50%;
}
main #team-details #logo img {
  height: 50%;
}
main #team-details #intro {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vw;
}
main #team-details #intro h1 {
  font-size: 7vw;
}
main #team-details #intro p {
  font-size: 2.73vw;
  text-align: center;
  opacity: 0.5;
}
main #team-details #category {
  width: 100%;
}
main #team-details #category button {
  width: 100%;
  height: 9vw;
  font-size: 2.3vw;
  margin-top: 2px;
  border: none;
  background: rgba(203, 209, 254, 0.4509803922);
  transition: all linear 0.3s;
}
main #team-details #category #b1 {
  background: #4d79ff;
  color: white;
}
main #team-details #category button:hover {
  cursor: pointer;
  background: #4d79ff;
  color: white;
}
main #team-details #cards {
  width: 100%;
  padding: 50px 10px;
  background: rgba(203, 227, 254, 0.4509803922);
  white-space: wrap;
  object-position: center;
  border: 2px solid green;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
@media (min-width: 1650px) {
  main #team-details #cards {
    padding: 110px 30px;
    gap: 110px;
  }
}
main #team-details #cards #c {
  width: 200px;
  background: white;
  border: 2px solid;
  border-radius: 12px;
  position: relative;
}
@media (min-width: 1650px) {
  main #team-details #cards #c {
    width: 400px;
  }
}
main #team-details #cards #c #dp {
  height: 90px;
  width: 90px;
  border: 5px solid aquamarine;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  left: 50%;
  top: -50%;
  transform: translate(-50%, 75%);
  overflow: hidden;
}
main #team-details #cards #c #dp img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
@media (min-width: 1650px) {
  main #team-details #cards #c #dp {
    transform: translate(-50%, 50%);
    height: 200px;
    width: 200px;
  }
}
main #team-details #cards #c #name {
  text-align: center;
}
main #team-details #cards #c #name h1 {
  margin-top: 35%;
  font-size: 28px;
}
@media (min-width: 1650px) {
  main #team-details #cards #c #name h1 {
    font-size: 42px;
  }
}
main #team-details #cards #c #name h2 {
  font-size: 20px;
  font-weight: 300;
  margin: 10px 0;
  opacity: 0.65;
}
@media (min-width: 1650px) {
  main #team-details #cards #c #name h2 {
    font-size: 32px;
  }
}
main #team-details #cards #c #name #contact {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 1650px) {
  main #team-details #cards #c #name #contact {
    height: 100px;
  }
}
main #team-details #cards #c #name #contact #links {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
main #team-details #cards #c #name #contact #links a {
  font-size: 28px;
  font-weight: 200;
  text-align: center;
}
@media (min-width: 1650px) {
  main #team-details #cards #c #name #contact #links a {
    font-size: 40px;
  }
}

@media (min-width: 750px) {
  main {
    padding: 3vw;
  }
  main #team-details #category button {
    height: 6.5vw;
  }
}
@media (min-width: 1024px) {
  main {
    padding: 2vw;
  }
  main #team-details #category button {
    height: 5vw;
  }
}
@media (min-width: 900px) {
  main nav {
    border: none;
    background: rgba(188, 247, 255, 0.7098039216);
    width: 100%;
  }
  main nav #nav #bar {
    display: none;
  }
  main nav #nav #menue {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 2vw;
    padding: 0.21vw;
    background: transparent;
  }
  main nav #nav #menue i {
    font-size: 1.32vw;
    color: rgba(10, 11, 56, 0.7764705882);
  }
  main nav #nav #menue i:hover {
    background: #0a0b38;
    color: #acd4ff;
  }
}
@media (min-width: 1650px) {
  main #team-details #logo {
    height: 200px;
    width: 200px;
  }
}/*# sourceMappingURL=style.css.map */